@import url('https://fonts.googleapis.com/css2?family=Pompiere:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme{
 

  --color-brand-primary: #ffaaab;
  --color-brand-secondary: #ff5e6c;

  /*Light mode*/
  --color-bg: #fff5d7;
  --color-text: #25231e;
}
/*dark mode*/
.dark {
  --color-bg: #25231e;
  --color-text: #fff5d7;
}
@layer base{
  body{
    font-family: 'Pompiere', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--color-bg);
    color: var(--color-text);
  }
}
